body
{
    background-color: #ffffff;
}
.Login h1
{
    text-align: center;
}

.Login
{
    line-height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border:1px solid black;
    padding:80px;
}
.Login input
{
    height:35px;
    width: 400px;
}
ul
{
    list-style: none;
}
#login_button
{
    background-color:#40A9FF;
    border : 1px solid rgb(0, 183, 255);
    padding:5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 700;
    line-height: 30px;
    width: 408px;
    font-size: 25px;
    cursor: pointer;
    color:white;
}

#regist_button
{
    background-color:#40A9FF;
    border : 1px solid rgb(0, 183, 255);
    padding:5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 700;
    line-height: 30px;
    width: 408px;
    font-size: 25px;
    cursor: pointer;
    color:white;
}